<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="d-flex mt-3 mb-3 justify-content-between align-items-center">
                <h4>
                    History Transaksi
                </h4>
                <Button class="btn btn-dark" (click)="openAdd(add)">
                    Add Transaksi
                </Button>
            </div>
        </div>
    </div>
    <table class="table table-secondary" style="box-sizing: border-box;">
        <thead>
            <tr>
                <th scope="col">Tanggal</th>
                <th scope="col">Detail Supplier dan Barang</th>
                <th scope="col">Total Harga</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let items of iTransaksi">
                <td scope="row" class="table-light">{{items.tanggal}}</td>
                <td class="table-light">
                    <ul *ngFor="let supplier of items.supplier; index as j">
                        <li>{{supplier.nama}}</li>
                        <li>{{supplier.alamat}}</li>
                        <ul *ngFor="let barang of items.supplier[j].listBarang">
                            <li>{{barang.namaBarang}}</li>
                            <li>{{barang.harga}}</li>
                            <li>{{barang.deskripsi}}</li>
                        </ul>
                    </ul>
                </td>
                <td>Rp {{items.grandTotal}}</td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #add let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Tambah Transaksi Baru</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <table class="table table-secondary" style="box-sizing: border-box;">
                <thead>
                    <tr>
                        <th scope="col">Supplier</th>
                        <th scope="col">Alamat</th>
                        <th scope="col">List Barang</th>
                        <th scope="col">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of iSupplier">
                        <td scope="row" class="table-light">{{data.nama}}</td>
                        <td class="table-light">{{data.alamat}}</td>
                        <td>
                            <ul *ngFor="let barang of data.listBarang">
                                <li>{{barang.namaBarang}}</li>
                                <li>{{barang.deskripsi}}</li>
                                <li>{{barang.harga}}</li>
                                <br>
                            </ul>
                        </td>
                        <td class="table-light">
                            <div class="d-flex justify-content-around" style="box-sizing: border-box; gap: 10px;">
                                <button class="btn btn-outline-dark col-5">Pilih </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</ng-template>